html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*::before,*::after{
    box-sizing: border-box;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body{
  font-family: "Noto Sans TC";
  line-height: 1.5;
}
a{
    text-decoration: none;
}
sub{
    vertical-align: sub;
}
img{
    max-width: 100%;
    margin: auto;
}
.outter-wrap{
    max-width: 1366px;
    margin: auto;
}
.inner-wrap{
    width: 80%;
    margin: auto;
    border: 1px solid black;
}
@media (max-width:768px){
    .inner-wrap{
        width: 90%;
    }
}
.logo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin-top: 24px;
    margin-bottom: 24px;
}
.logo-item1{
    width: 20%;
    border: 1px solid black;
    display: flex;
    justify-content: left;
    align-items: center;
}
.logo-item2{
    width: 20%;
    border: 1px solid black;
    display: flex;
    justify-content: right;
    align-items: center;
}
.logo-buttom{
    background-color: #FF5D50;
    width: 60%;
    height: 40px;
    color: white;
    font-size: 13%;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:768px){
    .logo-item1{
        width: 38%;
    }
    .logo-item2{
        width: 38%;
    }
    .logo-buttom{
        width: 80%;
        font-size: 20%;
    }
}
.page{
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin-top: 30px;
}
.page-block{
    width: 50%;
    border: 1px solid black;
}
.page-block_text{
    margin-top: 158px;
    margin-bottom: 157px;
}
.page-block_text_item1{
    font-size: 1vw;
    color: #56C4C5;
}
.page-block_text_item2{
    font-size: 4vw;
}
.page-block_text_item3{
    font-size: 2vw;
}
.page-block_picture{
    width: 100%;
}
@media (max-width:768px){
    .page{
        display: flex;
        flex-direction: column;
    }
    .page-block{
        width: 100%;
    }
    .page-block_text{
        margin:auto
    }
    .page-block_text_item1{
        font-size: 3vw;
        margin-top: 32px;
    }
    .page-block_text_item2{
        font-size: 7vw;
        margin-top: 8px;
    }
    .page-block_text_item3{
        font-size: 4vw;
        margin-top: 16px;
    }
    .page-block_picture{
        padding: 10px;
    }
}
.block-social{
    width: 90%;
    padding-top: 217px;
    margin: auto;
    border: 1px solid black;
}
.block-social-title{
    font-size: 3vw; 
    text-align: center;
}
.block-social_list{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    margin-top: 48px;
    margin-left: -2%;
    margin-right: -2%;
}
.block-social_list-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding-right: 2%;
    padding-left: 2%;
   
}
.block-social_list-item1{
    width: 30%;
    border: 1px solid black;
}
.block-social_list-item2{
    padding-top: 24px;
    font-size: 2vw;
    font-weight: bold;
    border: 1px solid black;
}
.block-social_list-item3{
    padding-top: 20px;
    color: #747474;
    font-size: 1.5vw; 
    text-align: center;
    border: 1px solid black;
}
@media (max-width:768px){
    .block-social{
        width: 80%;
        padding-top: 60px;
    }
    .block-social-title{
        font-size: 5vw; 
        text-align: center;
    }
    .block-social_list{
        align-items: center;
        flex-direction: column;
        margin:auto;
        margin-top: 32px;
    }
    .block-social_list-item{
        width: 60%;
        margin-bottom: 24px;
    }
    .block-social_list-item1{
        width: 25%;
    }
    .block-social_list-item2{
        padding-top: 16px;
        font-size: 3vw;
    }
    .block-social_list-item3{
        padding-top: 16px;
        font-size: 2.5vw; 
    }
}
.block-service{
    width: 100%;
    margin: auto;
    margin-top: 100px;
    border: 1px solid black;
}
.block-service-title{
    font-size: 3vw;
    text-align: center;
}
.block-service-subtitle{
    font-size: 1.5vw;
    margin-top: 16px;
    text-align: center;
}
.block-service_list{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    margin-left: -2.5%;
    margin-right: -2.5%;
    border: 1px solid black;
}
.block-service_list-item{
    padding: 2.5%;
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block-service_list-item1{
    width: 100%;
}
.block-service_list-item2{
    padding-top: 8px;
    color: #56C4C5;
    font-size: 1.5vw;
    border: 1px solid black;
    text-align: center;
}
.block-service_list-item3{
    padding-top: 20px;
    color: #747474;
    font-size: 1.5vw; 
    text-align: center;
    border: 1px solid black;
}
@media (max-width:768px){
    .block-service{
        width: 90%;
        margin-top: 60px;
    }
    .block-service-title{
        font-size: 5vw;
    }
    .block-service-subtitle{
        font-size: 2.5vw;
    }
    .block-service_list{
        width: 80%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
        padding-top: 32px;
    }
    .block-service_list-item{
        margin-top: 24px;
        width: 100%;
    }
    .block-service_list-item1{
        width: 100%;
        text-align: center;
    }
    .block-service_list-item2{
        padding-top: 16px;
        font-size: 3vw;
    }
    .block-service_list-item3{
        width: 60%;
        padding-top: 16px;
        font-size: 3vw; 
    }
}
.block-work{
    width: 96%;
    margin: auto;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}
.block-work_list{
    width: 50%;
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
}
.block-work_list-item{
    width: 40%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding-top: 48px;
    padding-bottom: 48px;
    margin-right: 5%;
    margin-left: 5%;
}
.block-work_list-item1{
    width: 40%;
    border: 1px solid black;
    margin-left: 5%;
}
.block-work_list-item2{
    font-size: 1.5vw;
    border: 1px solid black;
    margin-top: 16px;
    font-weight: bold;
}
.block-work_list-item3{
    width: 90%;
    font-size: 1.2vw;
    border: 1px solid black;
    margin-top: 16px;
}
.block-work_text{
    width: 50%;
    border: 1px solid black;
}
.block-work_text-item1{
    font-size: 4.5vw;
    font-weight: bold;
    margin-top: 160px;
}
.block-work_text-item2{
    font-size: 2vw;
    color: #221E1F;
    margin-top: 16px;
    margin-bottom: 16px;
}
.block-work_text-item3{
    background-color: #56C4C5;
    width: 35%;
    height: 40px;
    color: white;
    font-size: 2vw;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-top: 16px;
    margin-bottom: 160px;
}
@media (max-width:768px){
    .block-work{
        width: 90%;
        padding-top: 60px;
        flex-direction: column-reverse;
    }
    .block-work_text{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .block-work_text-item1{
        width: 55%;
        font-size: 5vw;
        margin: auto;
        text-align: center;
    }
    .block-work_text-item2{
        width: 55%;
        font-size: 2.5vw;
        padding-top: 16px;
        padding-bottom: 16px;
        margin: auto;
        text-align: center;
    }
    .block-work_text-item3{
        width: 25%;
        height: 50px;
        font-size: 2.5vw;
        margin: auto;
        text-align: center;
    }
    .block-work_list{
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .block-work_list-item{
        width: 70%;
        margin-top: 16px;
        padding-left: 8%;
    }
    .block-work_list-item1{
        width: 40%;
        margin-left: 10%;
    }
    .block-work_list-item2{
        font-size: 2.5vw;
        margin-left: 10%;
        margin-top: 16px;
    }
    .block-work_list-item3{
        width: 35%;
        font-size: 2vw;
        margin-left: 10%;
        margin-top: 16px;
    }

}

.block-recommend{
    width: 100%;
    border: 1px solid black;
    margin: auto;
    padding-top: 100px;
}
.block-recommend-title{
    font-size: 3vw;
    text-align: center;
}
.block-recommend_list{
    width: 100%;
    display: flex;
    padding-top: 48px;
    border: 1px solid black;
}
.block-recommend_list-item{
    width: 40%;
    border: 1px solid black;
    margin-right: 1%;
    margin-left: 1%;
    padding: 1%;
}
.block-recommend_list-item1_inRWD{
    width: 40%;
}
.block-recommend_list-item2_inRWD{
    font-size: 1vw;
    color: #221E1F;
    margin-bottom: 48px;
}
.block-recommend_list-item3_inRWD{
    font-size: 1.5vw;
    font-weight: bold;
}
.block-recommend_list-item4_inRWD{
    font-size: 1vw;
    color: #221E1F;
    margin-top: 16px;
    margin-bottom: 16px;
}
.block-recommend_list-item1{
    width: 40%;
}
.block-recommend_list-item2{
    font-size: 1vw;
    color: #221E1F;
    margin-bottom: 48px;
}
.block-recommend_list-item3{
    font-size: 1.5vw;
    font-weight: bold;
}
.block-recommend_list-item4{
    font-size: 1vw;
    color: #221E1F;
    margin-top: 16px;
    margin-bottom: 16px;
}
@media (max-width:768px){
    .block-recommend{
        width: 90%;
        padding-top: 60px;
    }
    .block-recommend-title{
        font-size: 5vw;
    }
    .block-recommend_list{
        flex-direction: column;
        align-items: center;
        padding-top: 32px;
    }
    .block-recommend_list-item{
        width: 85%;
        margin: auto;
        padding: 2%;
    }
    .block-recommend_list-item1_inRWD{
        width: 50%;
    }
    .block-recommend_list-item2_inRWD{
        font-size: 2vw;
        margin-bottom: 24px;
    }
    .block-recommend_list-item3_inRWD{
        font-size: 2vw;
    }
    .block-recommend_list-item4_inRWD{
        font-size: 2vw;
        margin-top: 32px;
        margin-bottom: 2px;
    }
    .block-recommend_list-item1{
        display: none;
    }
    .block-recommend_list-item2{
        display: none;
    }
    .block-recommend_list-item3{
        display: none;
    }
    .block-recommend_list-item4{
        display: none;
    }
}
.wrap-bottom{
    max-width: 1366px;
    margin-top: 100px;
    padding-top: 260px;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/home_footer.svg);
    background-repeat: no-repeat;
    background-position: top;
    border: 1px solid black;
  
}
.wrap-bottom_item1{
    width: 80%;
    font-size: 3vw;
    font-weight: bold;
    color: #221E1F;
    border: 1px solid black;
    text-align: center;
    margin: auto;
}
.wrap-bottom_item2{
    background-color: #56C4C5;
    width: 10%;
    height: 40px;
    color: white;
    font-size: 1.5vw;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}
.wrap-bottom_item3{
    font-size: 1vw;
    text-align: center;
}
@media (max-width:768px){
    .wrap-bottom{
        max-width: 768px;
        margin-top: 90px;
    }
    .wrap-bottom_item1{
        font-size: 4vw;
    }
    .wrap-bottom_item2{
        width: 15%;
        font-size: 2vw;
        margin-top: 24px;
        margin-bottom: 75px;
    }
    .wrap-bottom_item3{
        font-size: 2vw;
    }
}