html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body{
  font-family: "Noto Sans TC";
  line-height: 1.5;
}
a{
    text-decoration: none;
}
sub{
    vertical-align: sub;
}
img{
    max-width: 100%;
}
.wrap{
    max-width: 1366px;
    margin: auto;
}
.container{
    width: 80%;
    margin: auto;
    border: 1px solid black;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin-top: 24px;
    margin-bottom: 24px;
}
.logo{
    width: 218.06px;
    height: 40 px;
    border: 1px solid black;
}
.price{
    background-color: #FF5D50;
    width: 128px;
    height: 40px;
    color: white;
    font-size: 16px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.top{
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin-top: 30px;
}
.top-item{
    width: 50%;
    border: 1px solid black;
}
.text{
    margin-top: 158px;
    margin-bottom: 157px;
}
.middle{
    width: 90%;
    padding-top: 217px;
    margin: auto;
    border: 1px solid black;
}
.middle-item{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    margin-top: 48px;
    margin-left: -20px;
    margin-right: -20px;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding-right: 20px;
    padding-left: 20px;
   
}
.item1{
    width: 30%;
    border: 1px solid black;
}
.title1{
    padding-top: 24px;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid black;
}
.contain1{
    padding-top: 20px;
    color: #747474;
    font-size: 16px; 
    text-align: center;
    border: 1px solid black;
}
.bottom{
    width: 100%;
    margin: auto;
    margin-top: 100px;
}
.bottom-item{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    margin-left: -16px;
    margin-right: -16px;
}
.item-contaniner{
    box-sizing: border-box;
    padding: 16px;
    width: 23%;
    display: flex;
    flex-direction: column;
}
.title2{
    padding-top: 8px;
    color: #56C4C5;
    font-size: 24px;
    border: 1px solid black;
    text-align: center;
}